<div class="navBar">
  <div class="navImg">
    <a href="https://www.beaminglove.org/"><img src="https://static.wixstatic.com/media/74e27e_0d385d407668489d8829ae7c6ba41ac4~mv2.png/v1/fill/w_996,h_278,al_c,lg_1,q_85/74e27e_0d385d407668489d8829ae7c6ba41ac4~mv2.webp" alt=""></a>
  </div>

  <div class="navMenu">
    <a href="#">Upcoming Events</a>
    <a href="#">Woke & Play shops</a>
    <a href="#">Presenters</a>
    <a href="#">Volunteer with us</a>
    <a href="#">Contact Info</a>
  </div>

  <div class="navSignIn">
    <a href="#">Sign In</a>
  </div>

</div>
